/* flex */
/* grid */
/* inline-block */
/* ellipsis */
/* home */
@keyframes body {
  from {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
  to {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes page-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes loader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*menu*/
@keyframes menu {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
/* flex */
/* grid */
/* inline-block */
/* ellipsis */
head, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.body {
  animation: body 1s 3s backwards;
}

* {
  font-family: "Roboto", sans-serif;
}

h2,
h1 {
  margin: 0;
  color: #000000;
}

h3 {
  margin: 0;
  font-weight: 700;
  color: #000000;
}

p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  max-width: 1055px;
  margin: auto;
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
  margin-bottom: 16px;
  color: white;
  font-weight: 400;
  width: 139px;
}
@media (min-width: 1024px) {
  footer h2 {
    margin: 0;
    padding-bottom: 25px;
  }
}
footer a {
  color: white;
}
footer .div-column {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}
footer .div-column .width-168 {
  width: 168px;
  display: inline-block;
}
footer .div-column .width-130 {
  width: 130px;
  display: inline-block;
}
footer .div-column__icon-footer {
  width: 12px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  footer .div-column {
    display: flex;
    flex-direction: row;
    padding: 25px 0 25px 0;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    height: 114px;
    align-items: end;
  }
}

.section-header {
  display: flex;
  flex-direction: row;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
}
.section-header i {
  position: absolute;
  left: 17px;
}
.section-header__logo {
  width: 200px;
  height: 36px;
}

.heart-container {
  position: relative;
}
.heart-container * {
  font-size: 22px;
}
.heart-container .fa-regular {
  padding: 3px;
  opacity: 1;
  transition: opacity 0.5s;
}
.heart-container .fa-solid {
  position: absolute;
  left: 0;
  padding: 3px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  opacity: 0;
  transition: opacity 2s;
}
.heart-container:hover {
  cursor: pointer;
}
.heart-container:hover .fa-solid {
  opacity: 1;
}
.heart-container:hover .fa-regular {
  opacity: 0;
}

/* flex */
/* grid */
/* inline-block */
/* ellipsis */
.main-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 16px;
  height: 50px;
  width: 218px;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border-radius: 25px;
  border-style: none;
  filter: brightness(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 300ms;
}
.main-button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: brightness(1.1);
  cursor: pointer;
}

.card-restaurants {
  background-color: white;
  border-radius: 15px;
  height: 251px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.card-restaurants .div-img {
  position: relative;
}
.card-restaurants .div-img img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card-restaurants .div-infos-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 33px 12px 16px;
  align-items: center;
}
.card-restaurants .div-infos-restaurant .div-infos-restaurant h3 {
  margin-bottom: 5px;
}

.new {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/* loader */
.page-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 20px;
  height: 50vh;
  animation: page-loader 1s 2s both;
}
.page-loader__title {
  width: 20em;
}

.div-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20em;
  gap: 50px;
}
.div-loader__loader {
  border-radius: 300px;
  background-color: #9356DC;
  width: 60px;
  height: 60px;
  animation: loader 0.5s both alternate-reverse infinite;
}
.div-loader__loader--1 {
  animation-delay: 100ms;
}
.div-loader__loader--2 {
  animation-delay: 200ms;
}
.div-loader__loader--3 {
  animation-delay: 300ms;
}

/* location */
.section-location {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.section-location input {
  background-color: #EAEAEA;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

/* Hero */
.section-hero {
  display: flex;
  flex-direction: column;
  padding: 39px 30px 57px 30px;
  background-color: #f6f6f6;
  align-items: center;
}
.section-hero__text {
  text-align: center;
  margin-bottom: 27px;
}

/*fonctionnement*/
.section-fonctionnement {
  padding: 48px 20px 68px 20px;
}
.section-fonctionnement h2 {
  margin-bottom: 26px;
}
.section-fonctionnement .grid-fonctionnement {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .section-fonctionnement .grid-fonctionnement {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.section-fonctionnement .div-etape {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 72px;
  border-radius: 20px;
}
.section-fonctionnement .div-etape .bloc-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: -10px;
  width: 100%;
  justify-content: left;
  gap: 14%;
}
.section-fonctionnement .div-etape .bloc-info p {
  font-weight: 500;
}
.section-fonctionnement .div-etape .bloc-info__number {
  display: flex;
  flex-direction: column;
  min-width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 300px;
  color: white;
  align-items: center;
  justify-content: center;
}
.section-fonctionnement .div-etape .bloc-info__icon {
  width: 25px;
  color: #7e7e7e;
}
.section-fonctionnement .div-etape .bloc-info #icon-purple {
  color: #9356DC;
}

/*restaurants*/
.section-restaurants {
  background-color: #f6f6f6;
}
.section-restaurants .div-section-restaurant {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 66px 20px;
  gap: 20px;
}
.section-restaurants .div-bloc-restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
@media (min-width: 768px) {
  .section-restaurants .div-bloc-restaurants {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 6vw;
  }
}

/*# sourceMappingURL=home.css.map */
