/* flex */
/* grid */
/* inline-block */
/* ellipsis */
/* home */
@keyframes body {
  from {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
  to {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes page-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes loader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*menu*/
@keyframes menu {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
/* flex */
/* grid */
/* inline-block */
/* ellipsis */
head, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.body {
  animation: body 1s 3s backwards;
}

* {
  font-family: "Roboto", sans-serif;
}

h2,
h1 {
  margin: 0;
  color: #000000;
}

h3 {
  margin: 0;
  font-weight: 700;
  color: #000000;
}

p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0;
  margin-bottom: 16px;
  color: white;
  font-weight: 400;
  width: 139px;
}
@media (min-width: 1024px) {
  footer h2 {
    margin: 0;
    padding-bottom: 25px;
  }
}
footer a {
  color: white;
}
footer .div-column {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}
footer .div-column .width-168 {
  width: 168px;
  display: inline-block;
}
footer .div-column .width-130 {
  width: 130px;
  display: inline-block;
}
footer .div-column__icon-footer {
  width: 12px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  footer .div-column {
    display: flex;
    flex-direction: row;
    padding: 25px 0 25px 0;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    height: 114px;
    align-items: end;
  }
}

.section-header {
  display: flex;
  flex-direction: row;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
}
.section-header i {
  position: absolute;
  left: 17px;
}
.section-header__logo {
  width: 200px;
  height: 36px;
}

.heart-container {
  position: relative;
}
.heart-container * {
  font-size: 22px;
}
.heart-container .fa-regular {
  padding: 3px;
  opacity: 1;
  transition: opacity 0.5s;
}
.heart-container .fa-solid {
  position: absolute;
  left: 0;
  padding: 3px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  opacity: 0;
  transition: opacity 2s;
}
.heart-container:hover .fa-solid {
  opacity: 1;
}
.heart-container:hover .fa-regular {
  opacity: 0;
}

.main-button {
  font-size: 16px;
  height: 50px;
  width: 218px;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border-radius: 25px;
  border-style: none;
  filter: brightness(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 300ms;
}
.main-button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: brightness(1.1);
  cursor: pointer;
}

.card-restaurants {
  background-color: white;
  border-radius: 15px;
  height: 251px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.card-restaurants .div-img {
  position: relative;
}
.card-restaurants .div-img img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card-restaurants .div-infos-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 33px 12px 16px;
  align-items: center;
}
.card-restaurants .div-infos-restaurant .div-infos-restaurant h3 {
  margin-bottom: 5px;
}

.new {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/* Hero */
.hero {
  min-height: 275px;
  max-height: 383px;
  width: 100%;
  object-fit: cover;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  padding: 32px 13px 40px 13px;
  position: relative;
  bottom: 40px;
  margin-bottom: -40px;
  gap: 40px;
}
.menu .fa-sharp {
  color: white;
}
.menu .div-h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 310px;
}
.menu .div-h1 .div-h1,
.menu .div-h1 h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}
.menu .menu,
.menu article {
  width: 100%;
  max-width: 634px;
}
.menu .menu,
.menu h2 {
  font-weight: 300;
  font-size: 16px;
  height: 27px;
}
.menu .menu,
.menu hr {
  border-color: #99e2d0;
  width: 40px;
  position: absolute;
  margin: auto;
}
.menu .menu,
.menu ul {
  margin: 12px 0 0 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  gap: 5px;
  overflow: hidden;
  animation: menu 1s backwards;
}
.menu__plat--1 {
  animation-delay: 400ms;
}
.menu__plat--2 {
  animation-delay: 800ms;
}
.menu__plat--3 {
  animation-delay: 1200ms;
}
.menu__plat__div {
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 15px;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__plat__div__div,
.menu__plat__div h3 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plat__div__div,
.menu__plat__div p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plat__price {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 15px;
}
.menu__plat__price__price,
.menu__plat__price p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}
.menu__plat__price__price,
.menu__plat__price i {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  height: 100%;
  width: 59px;
  margin-right: -59px;
  transition: margin-right 400ms;
}
.menu__plat:hover i {
  margin-right: 0px;
}

/*# sourceMappingURL=menu.css.map */
