footer {
    background-color: $colorGreyBlack;
    color: $colorWhite;
    padding: 22px 25px 22px 25px;
}

footer > p {
    @include shrikhand;
    @include font-size-18px;
    @include margin-0;
    margin-bottom: 16px;
    color: $colorWhite;
}

footer a {
    color: $colorWhite;
}

.div-column{
    @include display-flex-column;
    gap: 7px;
    width: 190px;

    &__icon-footer{
        width: 12px;
        margin-right: 10px;
    }
}

