footer {
    background-color: $colorGreyBlack;
    color: $colorWhite;
    padding: 22px 25px 22px 25px;

    h2 {
        @include shrikhand;
        @include font-size-18px;
        @include margin-0;
        margin-bottom: 16px;
        color: $colorWhite;
        font-weight: 400;
    }

    a {
        color: $colorWhite;
    }

    .div-column{
        @include display-flex(column);
        gap: 7px;
        list-style: none;
        padding-inline-start: 0;
    
        &__icon-footer{
            width: 12px;
            margin-right: 10px;
        }
    }
}


