.section-header {
    @include display-flex();
    height: 63px;
    @include shadow-header;
    align-items: center;
    justify-content: center;

    i {
    position: absolute;
    left: 17px;
    }

    &__logo {
        width: 200px;
        height: 36px;
    }
}