.heart-container {
    position: absolute;
    right: 25px;
    bottom: 33px;

    *{
        font-size: 22px;
    }

    .fa-regular{
        padding: 3px;
        opacity: 1;
        transition: opacity 0.5s;

    }

    .fa-solid{
        position: absolute;
        left: 0;
        padding: 3px;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: $btn-linear-gradient;
        opacity: 0;
        transition: opacity 2s;
    }

    &:hover{
        cursor: pointer;
        .fa-solid {
            opacity:1;
        }
        .fa-regular {
            opacity:0;
        }
    }
}

.heart-container-menu {
    right: 5px;
    bottom: 6px;
}