.main-button {
    font-size: 16px;
    height: 50px;
    width: 218px;
    background: $btn-linear-gradient;
    color: $colorWhite;
    border-radius: 25px;
    border-style: none;
    box-shadow: 0px 4px 10px rgba(#000000, 0.25);
    transition: box-shadow 2000ms;

    &:hover {
        box-shadow: 0px 4px 15px rgba(#000000, 0.35);
    }
}