@mixin shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin font-size ($font-size: 18px) {
    font-size: $font-size;
}

@mixin font-weight ($font-weight: 500) {
    font-weight: $font-weight;
}