/* flex */

@mixin display-flex($direction:row){
    display: flex;
    flex-direction: $direction;
}

/* grid */

@mixin display-grid {
    display: grid;
}

/* inline-block */

@mixin inline-block {
    display: inline-block;
}