@import "../utils/variables";
@import "../mixins/mixins-font";
@import "../mixins/mixins-margin";
@import "../mixins/mixins-display";
@import "../mixins/mixins-shadow";
@import "../utils/general";
@import "../components/footer";
@import "../components/header";
@import "../components/heart";
@import "../components/main-button";
@import "../components/card";

/*restaurants*/

.section-restaurants {
    background-color: $colorGrey;
    padding: 54px 20px 66px 20px;
    
    img {
        height: 231px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
}

.div-card-restaurants {
    @include display-grid;
    grid-template-columns: 1fr;
    gap: 18px;
}