@import "../utils/variables";
@import "../mixins/mixins-font";
@import "../mixins/mixins-margin";
@import "../mixins/mixins-display";
@import "../mixins/mixins-shadow";
@import "../utils/general";
@import "../components/footer";
@import "../components/header";
@import "../components/heart";
@import "../components/main-button";
@import "../components/card";
@import "../components/new";


/* location */

.section-location {
    @include display-flex();
    height: 50px;
    background-color: $colorGrey;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;

    input {
        background-color: $colorGrey;
        border: none;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }
}


/* Hero */

.section-hero {
    @include display-flex(column);
    padding: 39px 30px 57px 30px;
    background-color: $colorGreyPrincipal;
    align-items: center;

    &__text {
        text-align: center;
        margin-bottom: 27px;
    }

    &__button {
        height: 50px;
        width: 218px;
        background: linear-gradient($secondaryColor, $primaryColor);
        color: $colorWhite;
        border-radius: 25px;
        border-style: none;
        @include shadow-btn;
    }
}

/*fonctionnement*/

.section-fonctionnement {
    padding: 48px 20px 68px 20px;

    h2 {
        margin-bottom: 26px;
    }

    .grid-fonctionnement {
        @include display-grid;
        gap: 20px;
    }

    .div-etape {
        @include display-flex();
        @include shadow;
        position: relative;
        justify-content: space-around;
        align-items: center;
        background-color: $colorGreyPrincipal;
        width: 100%;
        height: 72px;
        border-radius: 20px;

       .bloc-info {
            @include display-flex;
            align-items: center;
            position: absolute;
            left: -10px;
            width: 100%;
            justify-content: left;
            gap: 10%;

            &__number {
                @include display-flex(column);
                width: 24px;
                height: 24px;
                background-color: $primaryColor;
                border-radius: 300px;
                color: $colorWhite;
                align-items: center;
                justify-content: center;
            }
        
            &__icon {
                width: 25px;
                color: $iconColor;
            }

            #icon-purple {
                color: $primaryColor;
            }
        }
    }
}

/*restaurants*/

.section-restaurants {
    @include display-flex(column);
    background-color: $colorGreyPrincipal;
    padding: 54px 20px 66px 20px;
    gap: 20px;

    .div-bloc-restaurants {
        @include display-grid;
        grid-template-columns: 1fr;
        gap: 18px;
    }
}



