@import "../mixins/mixins-display";

/* home */

@keyframes body {
    from {
        display: none;
        opacity: 0;
        transform: scale(0);
    }

    to {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes page-loader{
    from {
        opacity:1;
    }

    to {
        opacity:0;
        display: none;
    }

}

@keyframes loader {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


/*menu*/

@keyframes menu {
    from {
        transform: scale3d(0,0,0);
    }

    to {
        transform: scale3d(1,1,1);
    }
}