$colorWhite: white;
$colorBlack: #000000;
$colorGrey: #EAEAEA;
$colorGreyBlack: #353535;
$colorGreyPrincipal: #f6f6f6;
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$colorBlue2: #003A68;
$colorBlue: #89c8fa;
$greenFontColor: #008766;
$greenColor: #99e2d0;
$iconColor: #7e7e7e;